# Ignore the gzip archives, the object files, the text files, the png files
*.gz
*.o
*.txt
*.tsv
*.csv
*.png
*.jpg
*.fasta

# Ignore the results of dekupl-run and the temporary directory used
# during the execution of dekupl-run
DEkupl_result/
temporary/

# Ignore some directories
data/
bin/
share/
wgsim/
graphiques/
chrY*/
test_samples/
bwa*/
/.snakemake/
